<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= day %></h1>
    </div>

    <div>
      <form id="categories" method="get">
        <button type="text" name="work" class="box item categories" formaction="/work">Work</button>
        <button type="text" name="etc" class="box item categories" formaction="/etc">Etc</button>
      </form>
    </div>

    <div class="box">
      <% for (var i=0; i<itemsList.length; i++) { %>
        <div class="item">
          <input type="checkbox">
          <p><%= itemsList[i] %></p>
        </div>
      <% } %>

      <form class="item" action="/<%= category %>" method="post">
        <input type="text" name="newItem" placeholder="Add new item" autocomplete="off">
        <button type="submit" name="add-button" class="round-button" value=<%= category %>>+</button>
      </form>
    </div>
<%- include("footer") -%>
